[user]
	name = yilisharcs
	email = yilisharcs@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = /home/yilisharcs/.gitignore_global
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
	last = log -1 HEAD
	logd = log --decorate --oneline --graph
	unstage = reset HEAD --
