[user]
	name       = yilisharcs
	email      = yilisharcs@gmail.com
	signingKey = 1D1CA99103BF8677
[init]
	defaultBranch = main
	templateDir = /home/yilisharcs/.config/git/templates
[core]
	editor = nvim
[color "diff"]
	meta = yellow
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	tool = nvimdiff
[merge]
	autoStash = true
	tool = nvimdiff
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
[alias]
	last    = log -1 HEAD
	logd    = log --decorate --oneline --graph
	st      = status
	unstage = reset HEAD --
[commit]
	gpgSign = true
[tag]
	gpgSign = true
