[user]
	name       = yilisharcs
	email      = yilisharcs@gmail.com
	signingKey = 1D1CA99103BF8677
[init]
	defaultBranch = main
	templateDir = /home/yilisharcs/.config/git/templates
[core]
	editor = nvim
	quotepath = false
[color "diff"]
	meta = yellow
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	autoStash = true
	tool = nvimdiff
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
[alias]
	last    = log -1 HEAD
	logd    = log --graph --pretty=format:'%C(yellow)%h %Cgreen[%as]%C(bold red)%d %Creset%s %Cblue<%an>%Creset'
	st      = status
	unstage = reset HEAD --
	# Difftastic
	dlog  = -c diff.external=difft log -p --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[remote]
	pushDefault = origin
