TODO.md

nvim/.config/nvim/lsp/_lsp.lua
nvim/.config/nvim/spell/*.add.spl
massren/.config/massren/profile.sqlite

nushell/.config/nushell/env.nu
nushell/.config/nushell/history.*
nushell/.config/nushell/plugin.msgpackz
