[Desktop Entry]
Version=1.0
Name=Brave Web Browser
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Exec=/usr/bin/brave-browser-stable %U --ozone-platform=x11
StartupNotify=true
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chromium;
Actions=new-window;new-private-window;
# This is the same as brave-browser.desktop except NoDisplay=true prevents
# duplicate menu entries. This is required to match the application ID
# used by XDG desktop portal, which has stricter naming requirements.
# The old desktop file is kept to preserve default browser settings.
NoDisplay=true


[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/brave-browser-stable --ozone-platform=x11

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/brave-browser-stable --incognito --ozone-platform=x11
