[mgr]
sort_by        = "alphabetical"
sort_sensitive = false
sort_dir_first = true
sort_translit  = true
linemode       = "mtime"
show_hidden    = true
show_symlink   = true
scrolloff      = 2

[preview]
wrap           = "yes"

[opener]
play = [
        { desc = "Open with VLC",   run = 'vlc "$@"', orphan = true, for = "unix" },
        { desc = "Show media info", run = 'mediainfo "$1" | bat', block = true, for = "unix" },
]
calibre  = [ { desc = "Read with Calibre",   run = 'ebook-viewer "$@"',                      orphan = true } ]
gimp     = [ { desc = "Open with GIMP",      run = 'gimp "$@"',                              orphan = true } ]
wine     = [ { desc = "Execute with Wine",   run = 'firejail wine "$@"',                     orphan = true } ]
xbin     = [ { desc = "Execute binary",      run = '"$@"',                                   orphan = true } ]
dpkg-ext = [ { desc = "Extract deb-package", run = 'dpkg-deb -R "$@" $(basename "$@" .deb)', orphan = true } ]

[open]
prepend_rules = [
        { mime = "text/*",                                          use = ["edit", "reveal"] },
        { mime = "inode/x-empty",                                   use = "edit" },
        { name = "*.html",                                          use = ["open", "edit"] },
        { mime = "image/*",                                         use = ["open", "gimp", "reveal"] },
        { mime = "application/debian.binary-package",               use = "dpkg-ext" },
        { mime = "application/{epub+zip, zip}",                     use = "calibre" },
        { mime = "application/{gzip,x-xz,zip,zstd}",                use = ["edit", "reveal"] },
        { mime = "application/{pie-executable,executable}",         use = "xbin" },
        { mime = "application/{microsoft.portable-executable,msi}", use = "wine" }
]

[plugin]
prepend_previewers = [
        { mime = "application/{gzip,x-xz,zip,zstd}", run = "ouch" }
]

[confirm]
trash     = true
delete    = true
overwrite = true
